Plugins>ImageJ on GPU (CLIJx-Assistant)>Custom, "enter_plugin_name_here", net.haesleinhuepf.clijx.plugins.EnterClassNameHere
Plugins>ImageJ on GPU (CLIJx-Incubator)>Custom, "enter_plugin_name_here_1", net.haesleinhuepf.clijx.incubator.interactive.generic.GenericIncubatorPlugin("CLIJx_EnterCLIJPluginIdentifierHere")
